<!DOCTYPE html>
<html lang='pt-BR'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='Teste - Highlight map' name='description'>
    <link href='css/custom.css' rel='stylesheet'>
    <title>Teste - Fachada Frontal</title>
    <style>
      #canvas {
        margin: 0 auto;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <h1>Teste - Fachada Frontal</h1>
    <div id='rsr'></div>
    <!-- scripts -->
    <script src='js/jquery-1.11.0.min.js'></script>
    <script src='js/raphael-min.js'></script>
    <script src='js/fachada_frontal.js'></script>
  </body>
</html>
