<!DOCTYPE html>
<html lang='pt-BR'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='Teste - Highlight map' name='description'>
    <link href='css/jquery.qtip.min.css' rel='stylesheet'>
    <title>Teste - Highlight map</title>
  </head>
  <body>
    <h1>Teste</h1>
    <img alt='Planta baixa' class='map' src='imgs/planta_baixa.gif' usemap='#features'>
    <map name='features'>
      <area alt='janelaBaixa' coords='221,67,246,148' data-tooltip='teste' href='#' shape='rect'>
      <area alt='porta' coords='375,268,454,337' href='#' shape='rect'>
      <area alt='cotaExtensao' coords='485,55,505,77' href='#' shape='rect'>
    </map>
    <!-- scripts -->
    <script src='js/jquery-1.11.0.min.js'></script>
    <script src='js/jquery.maphilight.js'></script>
    <script src='js/jquery.qtip.min.js'></script>
    <script>
      $(function(){
        $(".map").maphilight({
          fillColor: '008800'
        });
        $("[data-tooltip!='']").qtip({
          content: {
            attr: "data-tooltip"
          }
        })
      });
    </script>
  </body>
</html>
