<!DOCTYPE html>
<html lang='pt-BR'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='Teste - Highlight map' name='description'>
    <link href='css/custom.css' rel='stylesheet'>
    <title>Teste - Raphael</title>
    <style>
      #canvas {
        width: 640px;
        height: 480px;
        margin: 0 auto;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <h1>Teste - Raphael</h1>
    <div id='rsr'></div>
    <!-- scripts -->
    <script src='js/jquery-1.11.0.min.js'></script>
    <script src='js/raphael-min.js'></script>
    <!-- %script{:src => "js/casa01b.js"} / bom -->
    <!-- %script{:src => "js/raphael-ie.js"} / bom - texto com highlight de elementos -->
    <script src='js/casa06-merged.js'>/ bom - planta completa</script>
  </body>
</html>
