!!! 5
%html{:lang => "pt-BR"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => "description", :content => "Teste - Highlight map"}
    %link{:rel => "stylesheet", :href => "css/jquery.qtip.min.css"}

    %title Teste - Highlight map

  %body
    %h1 Teste
    %img.map{:src => "imgs/planta_baixa.gif", :alt => "Planta baixa", :usemap => "#features"}
    %map{:name => "features"}
      %area.janela{:shape => "rect", :coords => "221,67,246,148", :href => "#", :alt => "janelaBaixa", :data => {:tooltip => "teste", :maphilight => '{"fillColor":"ff0000","shadow":true}'}}
      %area.janela{:shape => "rect", :coords => "221,337,244,416", :href => "#", :alt => "janelaBaixa"}
      %area.janela{:shape => "rect", :coords => "422,606,451,679", :href => "#", :alt => "janelaBaixa"} 
      %area{:shape => "rect", :coords => "375,268,454,337", :href => "#", :alt => "porta"} 
      %area{:shape => "rect", :coords => "485,55,505,77", :href => "#", :alt => "cotaExtensao"}

    %svg#Layer_1{"enable-background" => "new 0 0 100 50", height: "250px", version: "1.1", viewbox: "0 0 100 50", width: "400px", x: "0px", "xml:space" => "preserve", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", y: "0px"}
      %g
        %rect{fill: "#FFFFFF", height: "40", width: "84", x: "8", y: "4"}
        %g
          %polyline{fill: "none", points: "92.5,43 92.5,44 91.5,44 \t\t", stroke: "#000000", "stroke-miterlimit" => "10"}
          %line{fill: "none", stroke: "#000000", "stroke-dasharray" => "2,2", "stroke-miterlimit" => "10", x1: "89", x2: "10", y1: "44.5", y2: "44.5"}
          %polyline{fill: "none", points: "9.5,44 8.5,44 8.5,43 \t\t", stroke: "#000000", "stroke-miterlimit" => "10"}
          %line{fill: "none", stroke: "#000000", "stroke-dasharray" => "2,2", "stroke-miterlimit" => "10", x1: "8.5", x2: "8.5", y1: "41", y2: "6"}
          %polyline{fill: "none", points: "8.5,5 8.5,4 9.5,4 \t\t", stroke: "#000000", "stroke-miterlimit" => "10"}
          %line{fill: "none", stroke: "#000000", "stroke-dasharray" => "2,2", "stroke-miterlimit" => "10", x1: "11", x2: "90", y1: "4.5", y2: "4.5"}
          %polyline{fill: "none", points: "91.5,4 92.5,4 92.5,5 \t\t", stroke: "#000000", "stroke-miterlimit" => "10"}
          %line{fill: "none", stroke: "#000000", "stroke-dasharray" => "2,2", "stroke-miterlimit" => "10", x1: "92.5", x2: "92.5", y1: "7", y2: "42"}
      %rect.janela{fill: "#FFFFFF", height: "40", stroke: "#000000", "stroke-miterlimit" => "10", width: "2", x: "17.5", y: "4.5"}
      %rect.janela{fill: "#FFFFFF", height: "40", stroke: "#000000", "stroke-miterlimit" => "10", width: "2", x: "30.5", y: "4.5"}
      %rect.janela{fill: "#FFFFFF", height: "40", stroke: "#000000", "stroke-miterlimit" => "10", width: "2", x: "57.5", y: "4.5"}
      %ellipse.hover{cx: "31.475", cy: "7.078", fill: "none", rx: "6.113", ry: "5.741", stroke: "#000000", "stroke-miterlimit" => "10"}
      %ellipse.hover{cx: "58.475", cy: "23.078", fill: "none", rx: "6.113", ry: "5.74", stroke: "#000000", "stroke-miterlimit" => "10"}
      %ellipse.hover{cx: "91.475", cy: "7.078", fill: "none", rx: "6.113", ry: "5.74", stroke: "#000000", "stroke-miterlimit" => "10"}


    %div
      %ul 
        %li 
          %a.map-janelas{:href => "#"} Janelas
        %li 
          %a{:href => "#"} Portas
        %li 
          %a{:href => "#"} Teste

    / scripts
    %script{:src => "js/jquery-1.11.0.min.js"}
    %script{:src => "js/jquery.maphilight.js"}
    %script{:src => "js/jquery.qtip.min.js"}
    :javascript
      $(function(){
        $(".map").maphilight({
          fillColor: '008800'
        });
        $("a.map-janelas")
          .mouseover(function(event){
            $("area.janela").mouseover();
            $("ellipse").mouseover();
          })
          .mouseout(function(event){
            $("area.janela").mouseout();
            $("ellipse").mouseout();
          })
          .click(function(event){
            event.preventDefautl();
          });
        $("[data-tooltip!='']").qtip({
          content: {
            attr: "data-tooltip"
          },
          style: {
            classes: "qtip-bootstrap qtip-custom"
          }
        });
        $("svg rect.janela").qtip({
          content: "Teste"
        });
        $("ellipse")
          .on("mouseover", function(){
            $(this).css("fill","blue");
          })
          .on("mouseout", function(){
            $(this).css("fill","none");
          });
      });
    :css
      .qtip-custom {
        font-size: 14px;
      }
      ellipse:hover {
        
      }